Prompting-Langchain/.env
Langchain/.env
/Langchain/venv
Langchain-Concept Understanding/.env
/Langchain-Concept Understanding/faiss_index
/Langchain-Concept Understanding/venv
/Langchain/faiss_index
LangLearn/LangGraph_x_Qdrant/.env
/LangLearn/LangGraph_x_Qdrant/venv
/LangLearn/Typesense/typesense/data/db
/LangLearn/Typesense/typesense/data
LangLearn/Typesense/.env
/LangLearn/Typesense/venv
/LangLearn/LangGraph_x_Qdrant_miniP/venv
/LangLearn/Typesense_miniP/venv
/LangLearn/Typesense_miniP/typesense/data/meta
/LangLearn/Typesense_miniP/typesense/data/db
/LangLearn/Typesense_miniP/typesense/data/state
/FastAPI/venv
/Project 1 - Training/__pycache__
/Project 1 - Training/agents/__pycache__
/Project 1 - Training/router/__pycache__
/Project 1 - Training/venv
/Project-T1-MedPack - NoLG/venv
/Project-T1-Medpack-FastAPI/venv
/Project-T1-MedPack/app/__pycache__
/Project-T1-MedPack/venv
/Project 1 - Training/core
*.pyc
Project 1 - Training/.env
Project-T1-MedPack - NoLG/.env
Project-T1-MedPack/.env
/Project-T1-MedPack-1Agent-FastAPI/venv
/Project-T1-MedPack-CobaAPI/venv
/Project-T1-Medpack-NoLG-FastAPI/venv
/Project-T1-MedPack- Primary x LG/venv
/Project-T1-MedPack-PrimaryAgent-MultiAgent-Qdrant/medpack/Lib
/Project-T1-MedPack-PrimaryAgent-MultiAgent-Qdrant/medpack
/Project-T1-MedPack-PrimaryAgent-MultiAgent-Qdrant/venv
/Project-T1-MedPack-PrimaryAgent-MultiAgent/venv
/Project-T1-MedPack-PrimaryAgent-MultiAgent/Dataset
*.JPG
Project-T1-MedPack-PrimaryAgent-MultiAgent-Qdrant/.env
Project-T1-MedPack-PrimaryAgent-MultiAgent-Qdrant/.env
Project-T1-MedPack-PrimaryAgent-MultiAgent-Qdrant/.env
/Project-T1-MedPack-PrimaryAgent-MultiAgent-Qdrant
/Project-T1-MedPack-PrimaryAgent-MultiAgent-Qdrant-FastAPI/medpack
/Project-T1-MedPack-PrimaryAgent-MultiAgent-Qdrant-FastAPI/medpack
/Project-T1-MedPack-PrimaryMultiQdrant-All/venv
*.zip
/FastAPI/venv - Copy
/FastAPI/assets - Copy
/fadhil-bithealth Belajar-Training-Bithealth main Project-T1-Final/venv
/Project 1 - Coba-Medpack/venv
/Project-1-Medpack-Final/venv
Project 1 - Coba-Medpack/.env
Project 1 - Coba-Medpack/.env
